h2 {
  color: black;
}

.btn {
  background-color: lightblue;
  margin: 10px 10px;
}

h1{
  font-size: 30px;
  text-align: center;
  color: black;
}

form {
  text-align: center;
}

input {
  color: black;
}