body {
	font-family: 'DotGothic16', sans-serif;
	background-color: #449797;
	text-align: center;
	color: #f2f4f6;
}

body.fixed {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
}

.black {
	color: #38352F;
}

h1 {
	font-size: 30px;
	text-align: center;
}

.font_rock {
	font-family: 'RocknRoll One', sans-serif;
}

.top_heading {
	font-size: 75px;
	text-align: center;
	font-family: 'DotGothic16', sans-serif;
}

.sentence {
	font-size: 20px;
}

.red {
	color: red;
}

form {
	text-align: center;
}

input {
	color: black;
}

footer {
	background-color: #EAFFD0;
}

.back a:hover {
	color: #38352F;
}

/*========= ページネーションCSS ===============*/

.pagination {
	position: fixed;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2em;
	z-index: 10;
	list-style: none;
}

.pagination a {
	display: block;
	height: 20px;
	margin-bottom: 20px;
	color: #38352F;
	position: relative;
	padding: 4px;
}

.pagination a.active:after {
	box-shadow: inset 0 0 0 5px;
}

/*現在地表示のテキストの設定*/
.pagination a .hover-text {
	position: absolute;
	right: 15px;
	top: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}

.pagination a:hover .hover-text {
	opacity: 1;
}

.pagination a:after {
	-webkit-transition: box-shadow 0.5s ease;
	transition: box-shadow 0.5s ease;
	width: 10px;
	height: 10px;
	display: block;
	border: 1px solid;
	border-radius: 50%;
	content: "";
	position: absolute;
	margin: auto;
	top: 0;
	right: 3px;
	bottom: 0;
}

@media screen and (max-width:768px) {
	.pagination a .hover-text {
		display: none;
	}
}

/* ーーーーーーーーーーーーーーーーーーーーー */


/* タイピングアルファベット-------------- */
.TextTyping span {
	display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
	content: "|";
	animation: typinganime .8s ease infinite;
}


@keyframes typinganime {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}
/*FeedBack*/
.ui.container {
  width: 1400px;
  margin: 0 auto;
}
