{% extends "layout.html" %}
{% block content %}
<header id="header">
  <h1>Header</h1>
</header>

<main>

<section id="box1" class="box" data-section-name="Area1"><!--data-section-nameはページネーションを表示させた際、現在地に現れるテキスト-->
<h2>Area1</h2>
<!--/box-->
<ul class="pagination"><li><a class="active" href="#Area1"><span class="hover-text">Area1</span></a></li><li><a class="" href="#Area2"><span class="hover-text">Area2</span></a></li><li><a class="" href="#Area3"><span class="hover-text">Area3</span></a></li></ul>
</section>

<section id="box2" class="box" data-section-name="Area2">
<h2>Area2</h2>
<!--/box--></section>

<section id="box3" class="box" data-section-name="Area3">
<h2>Area3</h2>
<!--/box--></section>

</main>

<footer id="footer">
<small>&copy; Copyright </small> 
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.21/jquery.scrollify.min.js"></script>
<!--自作のJS-->
<script src="static/js/script.js"></script>

{% endblock %}