{% extends "layout.html" %}
{% block content %}
<div class="ui vertical masthead center aligned segment">
    <h1>フォント判定</h1>
    <form class="ui left action input" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/png, image/jpeg">
        <button type="submit" class="ui button">submit</button>
    </form>
</div>

{% if images %}
<div class="ui centered link cards">
    {% for path in images %}
    <!-- ref: https://semantic-ui.com/views/card.html -->
    <div class="card">
        <div class="image">
            <img src="/static/images/{{ path }}">
        </div>
        <div class="content">
            <div class="description">
                {{ path }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}