{% extends "layout.html" %}
{% block content %}
<div class="ui center aligned segment">
    <h1>フォント判定</h1>
    <form class="ui action input" enctype="multipart/form-data" action="/upload" method="POST" onsubmit="onloading()"
        name="upload_form">
        <input type="file" name="image" required="required" accept="image/png, image/jpeg" id="upload">

        <input type="number" name="display_num" required="required" maxlength="2" value="5" placeholder="表示する候補数"
            step="1">
        <button type="submit" class="ui button">submit</button>

        <!-- Croppie   参考リンク  https://www.for-engineer.life/entry/python-croppie/  -->
        <script>
            $('#upload').on('change', function (e) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.ui.modal')
                        .modal('show')
                        ;
                    $("#preview").croppie("bind", {
                        url: event.target.result
                    });
                }
                reader.readAsDataURL(e.target.files[0]);
            });
        </script>
    </form>
</div>
<!-- モーダル -->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        画像を切り取ってください
    </div>
    <div class="image content">
        <div class="description">
            <div class="ui header"></div>
            <img id="preview">
            <script>
                var $image_crop = $('#preview').croppie({
                    viewport: {
                        width: 60,
                        height: 60
                    },
                    boundary: {
                        width: 300,
                        height: 300
                    },
                    enableResize: true,
                });
            </script>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            他の画像を選択する
        </div>
        <div class="ui positive right labeled icon button" id="crop_end">
            決定
            <script>
                $("#crop_end").click(function (event) {
                    $image_crop.croppie('result', {
                        type: 'base64',
                        size: "viewport",
                    }).then(function (response) {
                        $.ajax({
                            url: "/crop_image",
                            type: "POST",
                            data: { "croped_image": response },
                            success: function (data) {
                            }
                        });
                    })
                }
                );
            </script>
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<div class="ui accordion" style="text-align:center">
    <div class="title" style="font-size: 20px;">
        <i class="dropdown icon"></i>
        Tips
    </div>
    <div class="content">
        <p class="transition hidden">
        <div style="text-align: center;">
            <ul class="ui list" style="text-align: left; display: inline-block;">
                <li> 白地に黒文字の画像を選択してください。</li>
                <li> １文字分だけトリミングしてください。</li>
                <li> ひらがな、カタカナを切り取ってください。</li>
            </ul>
        </div>
        </p>
    </div>
</div>
<script>
    $('.ui.accordion').accordion();
</script>


{% if images %}
<div class="ui center aligned segment">
    <h1>過去に判定されたフォント集</h1>
    <div class="ui link centered cards">
        {% for path in images %}
        {% if path != ".gitkeep" %}
        <!-- フォント名は、ファイル名の_までに格納されているので、_までを抽出している -->
        {% set img_name = path[:path.find('_')] %}
        <!-- ref: https://semantic-ui.com/views/card.html -->
        <div class="ui card">
            <a class="card" href="https://www.google.com/search?q={{ img_name }}">
                <div class="image">
                    <img src="/static/images/{{ path }}" width="60px" height="60px">
                </div>
                <div class="content">
                    <a class="header" href="https://www.google.com/search?q={{ img_name }}">
                        {{ img_name }}
                    </a>
                </div>
            </a>
            <a href="/static/images/{{ path }}" download="" class="ui basic violet button"><i
                    class="download icon"></i>download</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}

<script type="text/javascript">
    function onloading() {
        document.querySelector('div').className += ' loading';
    }
</script>

{% endblock %}