{% extends "layout.html" %}
{% block content %}
<div class="ui center aligned segment">
    <h1>フォント判定</h1>
    <form class="ui action input" action="/upload" method="post" enctype="multipart/form-data" onsubmit="onloading()">
        <input type="file" name="image" required="required" 　accept="image/png, image/jpeg">
        <input type="number" name="display_num" required="required" 　maxlength="2" value="5" placeholder="表示する候補数"
            step="1">
        <button type="submit" class="ui button">submit</button>
    </form>
</div>

{% if images %}
<div class="ui center aligned segment">
    <h1>過去に判定されたフォント集</h1>
    <div class="ui link centered cards">
        {% for path in images %}
        {% if path != ".gitkeep" %}
        <!-- フォント名は、ファイル名の_までに格納されているので、_までを抽出している -->
        {% set img_name = path[:path.find('_')] %}
        <!-- ref: https://semantic-ui.com/views/card.html -->
        <a class="card" href="https://www.google.com/search?q={{ img_name }}">
            <div class="image">
                <img src="/static/images/{{ path }}">
            </div>
            <div class="content">
                <div class="description">
                    {{ img_name }}
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
  <form class="ui fullscreen modal" action="/enter" method="POST">
    <i class="close icon"></i>
    <div class="header" method="post">
      お問い合わせフォーム
    </div>
    <div class="content">
      <div class="ui form">
        <div class="two fields">
          <div class="field">
            <label>お名前</label>
            <input type="text" name="username" placeholder="根本太郎">
          </div>
          <div class="field">
            <label>メールアドレス</label>
            <input type="email" name="email" placeholder="font_sort@example.com">
          </div>
        </div>
        <div class="field">
          <label>お問い合わせ内容</label>
          <textarea name="enter" placeholder="お問い合わせ内容を入力してください"></textarea>
        </div>
        <div class="field" >
        </div>
      </div>
    </div>
        <button type="submit" class="ui green button">送信</button>
  </form>
  <div class="ui center aligned segment">
    <div class="ui positive right labeled icon button" id="application-form">
          お問い合わせフォーム
      <script>
                $("#application-form").click((e) => {
                    $('.fullscreen.modal')
      .modal('show')
    ;
                });
      </script>
      </div>
    </div>

<script type="text/javascript">
    function onloading() {
        document.querySelector('div').className += ' loading';
    }
</script>

{% endblock %}